.input-group {
  .form-control {
    z-index: unset;
  }
}
.product-detail {
  width: 100%;
  height: 100%;
  padding: 28px 25px;

  .product-detail__title {
    font-size: 1.4rem;
    color: #566374;
    font-weight: 500;
    height: 80px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 1em;
    }

    div {
      margin-bottom: 2px;
    }
  }

  .product-detail__container {
    color: #566374;
    background: #fff;
    min-height: calc(100vh - 80px);
    padding: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 16%);

    *:disabled {
      background-color: #fff;
      color: #566374 !important;
      opacity: 1;
      cursor: not-allowed;
    }

    .p-disabled {
      background-color: #fff;
      color: #566374 !important;
      opacity: 1;
      cursor: not-allowed;
    }

    button.p-datepicker-trigger.p-button-icon-only.p-disabled {
      box-shadow: unset;
      background-color: #0795df !important;
      color: #fff !important;
    }

    textarea:disabled {
      background-color: #fff;
    }

    .product-detail__content {
      .title {
        font-size: 1.2em;
        font-weight: 500;
        color: #566374;
      }

      hr {
        margin: 10px auto;
      }

      .form-input {
        margin-top: 15px;
        label {
          font-weight: 500;
          color: #566374;
        }

        .p-dropdown {
          width: 100%;
          height: 40px;
          align-items: center;
          font-size: 14px;

          .p-inputtext {
            font-size: unset;
          }
        }

        .p-calendar {
          width: 100%;
          height: 40px;

          .p-button.p-button-icon-only {
            width: 40px;
          }
        }

        .p-inputnumber {
          width: 100%;
        }

        .image-box {
          width: 250px;
          height: 250px;
          margin-bottom: 40px;
          display: block;
          box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .js-image-zoom__zoomed-image {
            z-index: 10;
            box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
          }
        }

        .add-video-container {
          margin: 0 20px 0 15px;

          .add-video-box {
            width: 120px;
            height: 120px;
            border: 1px dashed #0795df;
            display: flex;
            align-items: center;
            justify-content: center;

            .add-video-circle {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              border: 1px dashed #0795df;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              input {
                opacity: 0;
                cursor: pointer;
                background: transparent;
              }

              i {
                font-size: 14px;
                color: #0795df;
                cursor: pointer;
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 6px);
              }
            }
          }

          .invalid-image {
            border-color: #dc3545 !important;
          }
        }
      }

      .input-brand {
        .p-dropdown {
          width: 100%;
          height: 40px;
          align-items: center;
          font-size: 14px;

          .p-inputtext {
            font-size: unset;
          }
        }
      }
    }
  }
}

.product-detail-footer {
  color: #000;
  background: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;

  button {
    border-radius: 4px;
  }

  .btn--back {
    background-color: #fff;
    color: #0795df;
    width: 150px;
    height: 40px;
    border: 1px solid #0795df;

    &:focus {
      border: 1px solid #0795df;
    }
  }

  .btn--approve {
    background-color: #0795df;
    color: #fff;
    width: 150px;
    height: 40px;
  }

  .btn--reject {
    background-color: #de3535;
    color: #fff;
    width: 150px;
    height: 40px;
  }
}
