.input-group {
    .form-control {
        z-index: unset;
    }
}
.product-detail {
    color: #566374;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
    width: auto;
    min-height: calc(100vh - 80px);
    padding: 30px 40px;
    margin: 28px 25px;

    .product-detail-container {
        .title {
            font-size: 1.2em;
            font-weight: 500;
            color: #566374;
        }

        hr {
            margin: 10px auto;
        }

        .form-input {
            margin-top: 40px;

            label {
                font-weight: 500;
                color: #566374;
            }

            .select-category {
                margin-bottom: 15px;

                .select-category-title {
                    color: #566374;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .select-category-content {
                    background-color: #fafafa;
                    width: 100%;
                    height: auto;
                    padding: 20px;

                    .input-category {
                        margin-bottom: 15px;

                        .p-dropdown {
                            width: 100%;
                            height: 40px;
                            align-items: center;
                            font-size: 14px;

                            .p-inputtext {
                                font-size: unset;
                            }
                        }
                    }

                    .select-category-result {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        div:nth-child(1) {
                            color: #566374;
                            font-weight: 500;
                        }

                        div:nth-child(2) {
                            color: #0795DF;
                        }

                    }
                }
            }

            .add-image-container {
                margin-right: 20px;

                .add-image-box {
                    width: 120px;
                    height: 120px;
                    border: 1px dashed #0795DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    i {
                        cursor: pointer;
                        font-size: 20px;
                        top: 4px;
                        right: 12px;
                        color: red;
                        position: absolute;
                        width: 10px;
                        height: 10px;
                    }

                    .add-image-circle {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        border: 1px dashed #0795DF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        input {
                            opacity: 0;
                            cursor: pointer;
                            background: transparent;
                        }

                        i {
                            font-size: 14px;
                            color: #0795DF;
                            cursor: pointer;
                            position: absolute;
                            top: calc(50% - 6px);
                            left: calc(50% - 6px);
                        }
                    }
                }
            }

            .add-video-container {
                margin: 0 20px 0 15px;

                .add-video-box {
                    width: 120px;
                    height: 120px;
                    border: 1px dashed #0795DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .add-video-circle {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        border: 1px dashed #0795DF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        input {
                            opacity: 0;
                            cursor: pointer;
                            background: transparent;
                        }

                        i {
                            font-size: 14px;
                            color: #0795DF;
                            cursor: pointer;
                            position: absolute;
                            top: calc(50% - 6px);
                            left: calc(50% - 6px);
                        }
                    }
                }

                .invalid-image {
                    border-color: #dc3545 !important;
                }
            }
        }
    }
}

.product-detail-footer {
    color: #000;
    background: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;

    button {
        border-radius: 4px;
    }

    .button-back {
        background-color: #fff;
        color: #0795DF;
        width: 150px;
        height: 40px;
        border: 1px solid #0795DF;

        &:focus {
            border: 1px solid #0795DF;
        }
    }

    .button-approve {
        background-color: #0795DF;
        color: #fff;
        width: 150px;
        height: 40px;
    }

    .button-reject {
        background-color: #DE3535;
        color: #fff;
        width: 150px;
        height: 40px;
    }
}