.user-list-container {
    width: 100%;
    height: 100%;
    padding: 28px 25px;

    .user-list-title {
        font-size: 1.4rem;
        color: #566374;
        font-weight: 500;
        height: 80px;
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .user-list-content {
        color: #000;
        background: #fff;
        box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
        height: 500px;
        width: 100%;
        padding: 20px;

        .user-list-table {
            width: 100%;
            height: 100%;

            .btn {
                padding: 4px 8px;
            }

            .datatable-doc-demo .p-paginator .p-paginator-current {
                margin-left: auto;
            }

            .p-component {
                font-size: 1.1rem;
                width: 100%;
                padding: 6px 8px;
            }

            .p-datatable-tbody {
                tr {
                    &:hover {
                        background-color: #f9f9f9;
                    }
                }
            }
        }
    }
}