.category-list-container {
    width: 100%;
    height: 100%;
    padding: 28px 25px;

    .category-list-title {
        height: 80px;
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            font-size: 1.4rem;
            color: #566374;
            font-weight: 500;
        }

        .button-create-new {
            background-color: #0795DF;
            color: #fff;
            width: 150px;
            height: 40px;
            border-radius: 4px;
        }
    }

    .category-list-content {
        color: #000;
        background: #fff;
        box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
        height: 500px;
        width: 100%;
        padding: 20px;

        .category-list-table {
            width: 100%;
            height: 100%;

            .p-datatable-header {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .p-component {
                    width: unset;
                }
            }

            .btn {
                padding: 4px 8px;
            }

            .datatable-doc-demo .p-paginator .p-paginator-current {
                margin-left: auto;
            }

            .p-component {
                font-size: 1.1rem;
                width: 100%;
                padding: 6px 8px;
            }

            .p-datatable-tbody {
                tr {
                    &:hover {
                        background-color: #f9f9f9;
                    }
                }
            }
        }
    }
}