.badge {
    padding: 6px 11px;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.badge-danger {
    background-color: var(--main-color-red);
}

.badge-success {
    background-color: var(--main-color-green);
}

.badge-primary {
    background-color: var(--main-color-blue);
}

.badge-warning {
    background-color: var(--main-color-orange);
}