.profile-container {
    width: 100%;
    height: 100%;
    padding: 28px 25px;

    .profile-admin-title {
        font-size: 1.4rem;
        color: #566374;
        font-weight: 500;
        height: 80px;
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .profile-admin-content{
        color: #000;
        background: #fff;
        box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
        height: 500px;
        width: 100%;
        padding: 20px;
        .profile-admin-left{
            .profile-admin-photo{
                .profile-admin-photo-content{
                    display: flex;
                    padding: 20px;
                    img{
                        border-radius: 50%;
                        width: 100px;
                        margin-right: 40px;
                    }

                    .box-imagefile{
                        border: 1px dotted #000;
                        flex: 1;
                        background-color: whitesmoke;
                        height: 20vh;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .text-add-file{
                            font-size: 20px;
                            color: #00AAFF;
                        }
                    }
                }
            }
        }
    }
}