.status-card {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 30px;

    &::before {
        content: "";
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        background-image: linear-gradient(
            to top right,
            #349eff,
            #62b4ff
        );
        position: absolute;
        left: -50%;
        top: 0;
        transform: scale(0);
        transition: transform 0.8s ease 0s;
    }

    &:hover::before {
        transform: scale(3);
    }

    &:hover {
        color: #fff;
    }

    .status-card__icon {
        width: 30%;
        height: 100%;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .status-card__info {
        flex-grow: 1;
        text-align: center;
        z-index: 1;
        text-transform: capitalize;

        h4 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
    }
}